.inboxMenu {
  display: flex;
  align-items: center;
  border-bottom-width: 2px;
  min-width: 300px;
  cursor: pointer;
  border-width: 0 !important;
  flex-direction: column;
}
.inboxMenu:hover {
  background-color: whitesmoke;
  border-width: 3px !important;
}
.inbox-selected {
  background-color: whitesmoke;
  border-width: 3px !important;
}

.inboxMenu > h4 {
  font-size: 15px;
  margin-left: 15px;
}
