.messageModel {
  width: 480px;
  height: 621px;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
}

.sendIcon {
  width: 100px;
  margin: 0 auto;
}
.modalContent {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 0 20px 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.receiver {
  border-radius: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
}

.sender {
  margin: 1px;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
}
input::placeholder {
  color: #999999;
}

.content {
  border-radius: 10px;
  width: 100%;
  height: 150px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
}

.sendButton {
  margin-top: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.5rem;
  height: 100%;
  width: 100%;
  background: #eceaea;
  font-size: medium;
  border-radius: 5px;
}
.sendButton:hover {
  background-color: #bdbdc7;
  cursor: pointer;
}
