/* auction info */
#title {
  font-size: 1.2em;
  font-weight: bold;
}

#content {
  height: 10em;
  height: 10em;
  overflow: scroll;
}

/* seller info */
#seller-image {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.request-list-header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 1em;
  border-bottom: 1px solid #ddd;
}

.request-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
}

.request-date {
  display: flex;
  padding: 1em;
}
.request-user {
  display: flex;
  padding: 1em;
}
.request-price {
  display: flex;
  padding: 1em;
}
